<%= form_for(user_bet) do |f| %>
  <% if user_bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_bet.errors.count, "error") %> prohibited this user_bet from being saved:</h2>

      <ul>
      <% user_bet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bet_id %>
    <%= f.number_field :bet_id %>
  </div>

  <div class="field">
    <%= f.label :user_selection %>
    <%= f.text_field :user_selection %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :amount_bet %>
    <%= f.number_field :amount_bet %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
