<div id="leagueTable">
	<h1><%= @league_table["leagueCaption"] %></h1><h3>Match Day: <%= @league_table["matchday"] %></h3>
	<hr>

	<table class="table table-striped table-hover">

		<tr>
			<th>Postion</th>
			<th>Team Name</th>
			<th>Played</th>
			<th>Win</th>
			<th>Draw</th>
			<th>Loss</th>
			<th>For</th>
			<th>Against</th>
			<th>Difference</th>
			<th>Points</th>
		</tr>

		<% @league_table["standing"].each do |team| %>

			<tr>
				<td><%= team["position"] %></td>
				<td><%= team["teamName"] %></td>
				<td><%= team["playedGames"] %></td>
				<td><%= team["wins"] %></td>
				<td><%= team["draws"] %></td>
				<td><%= team["losses"] %></td>
				<td><%= team["goals"] %></td>
				<td><%= team["goalsAgainst"] %></td>
				<td><%= team["goalDifference"] %></td>
				<td><%= team["points"] %></td>
			</tr>

		<% end %>

	</table>

</div>