<div class="center league_link_header">
	<p>Choose a league to view a league table</p>
	<%= link_to "La Liga", la_liga_path %> | 
	<%= link_to "Premier League", epl_path %> | 
	<%= link_to "Bundesliga", bundesliga_path %> | 
	<%= link_to "Seria A", seria_a_path %> | 
	<%= link_to "Eredivise", eredivise_path %> | 
	<%= link_to "League 1", league_one_path %>
</div>