<div class="center league_link_header">
	<p>Choose a league to view scores</p>
	<%= link_to "La Liga", la_liga_matchday_path %> | 
	<%= link_to "Premier League", epl_matchday_path %> | 
	<%= link_to "Bundesliga", bundesliga_matchday_path %> | 
	<%= link_to "Seria A", seria_a_matchday_path %> | 
	<%= link_to "Eredivise", eredivise_matchday_path %> | 
	<%= link_to "League 1", league_one_matchday_path %>
</div>